@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color:rgb(6, 52, 96) ;
}

* {
    box-sizing:border-box;
    outline: 0;
}

body {
margin: 0; 
padding: 0 ;
background: var(--primary-color) ;
font-family: 'Open sans', sans-serif;
font-size: 1.3em;
line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
}

form input, form label, form button {
    display:block;
    height: 40px;
    margin-bottom: 10px;
}